@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-teka: var(--font-kh-teka);
  --font-y2k: var(--font-vcr); 
  --font-pixel: "Press Start 2P";
  
  --font-scrapbook: var(--font-moms);
  --font-metal: var(--font-blackhawk);
}

:root {
  font-family: var(--font-kh-teka), sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-kh-teka), sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, span, a, button {
  font-family: var(--font-kh-teka), sans-serif;
}


.fortnite-page, .fortnite-page * {
  font-family: var(--font-burbank), sans-serif !important;
}

.font-y2k {
  font-family: var(--font-vcr), monospace !important;
}