@import "tailwindcss";

:root {
  /* As cores principais do Design System */
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-y2k: var(--font-vcr), monospace;
  --font-scrapbook: var(--font-moms), serif;
  --font-metal: var(--font-blackhawk), sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}